<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.roadjava.psi.mapper.GoodsMapper">

  <select id="selectGoodsList" resultType="goodsVO">
     select
     a.*
     from goods a
     <where>
       <if test='name != null and name != ""'>
         a.name like concat('%',#{name},'%')
       </if>
     </where>
     order by a.id desc
  </select>
</mapper>